{% extends "base.html" %}
{% from "comments.html" import comments_with_form, comments_js with context %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{% block content %}
<article class="article">
  <header class="article-header">
    <h1>{{ article.title }}</h1>
    <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
  </header>

  <div class="article-content">
    {{ article.content }}
  </div>
</article>

{{ comments_with_form(article) }}
{{ comments_js(article) }}
{% endblock %}
